<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yuqizhang.mywechata">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/login"
        android:label="若水"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".message_Activity"
            android:label="@string/title_activity_message_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".sign_in_Activity" />
        <activity android:name=".forgit_Activity" />
        <activity android:name=".clause_Activity" />
        <activity android:name=".add_friend_Activity" />
        <activity android:name=".chat_group_Activity"></activity>
    </application>

</manifest>